body
{
    background: gray;
    color: black;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#cabecera 
{
    background: blue;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,
    0.75);
    margin: 0;
    color: black;
    font-weight: bold;
    padding: 0.5em ;

}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline {
margin: 0 0 0 1em;
font-weight: normal;
font-size: 0.8em;

}

#container {
      width: 70%;
      padding: 0;
      text-align: left;
      border: 1px solid black;
      margin: 0 auto;
}

#container h1 {

    font-size: 20px;
}
#post {
    background-color: white;
    padding: 0;
}
