body
{
    color: blue;
    text-align: center;
    font-family: "Arial";
}
#cabecera{
    background: royalblue;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,
    0.75);
    margin: 0.1;
    color: seashell;
    font-weight: bold;
    padding: 0.5em;

}
#cabecera #tagline {
margin: 1em 0 0 0;
font-weight: normal;
font-size: 0.8em;

}

#container {
      width: 70%;
      padding: 0;
      text-align: left;
      border: 1px solid red;
      margin: 0 auto;
}

#container h1 {

    font-size: 20px;
}
#post {
    padding: 0;
}
